In [6]:
#q1.Convert given hrs & mins in second 
hours= int(input("enter hours  "))
minute=int(input("enter minute "))
hours_to_seconds = hours * 60 * 60
minutes_to_seconds= minute * 60
seconds= hours_to_seconds + minutes_to_seconds
print("seconds are", hours_to_seconds)

enter hours  3
enter minute 25
seconds are 10800

In [25]:
'''Q.4) Write a code to accept a number & print
in words.
Ex: 123
Three
Two
On
'''
dic1={
    "1" : "one",
    "2":"two",
    '3' : 'three',
    '4' :'four',
    '5':'five',
    '6': 'six',
    '7':'seven',
    '8':'eight',
    '9':'nine',
    '0':'zero'

}
a=input("enter a no. from 1 to 10 ")
for i in a:
  print(dic1[i],"\n")

enter a no. from 1 to 10 3
three

In [16]:
# Q.5) Create class
class People:
  def personal(self,name,age):
    self.name=name
    self.age=age
  def intro(self):
    print("name",self.name, "age ", self.age)
p1=People()
p1.personal("swappy",23)
p1.intro()

name swappy age  23

In [19]:
'''Q.7) Convert Paise in Rupees &
Paises
Ex: 350 is 3 Rupees 50 Paise
3.50 print Rupees: 3
Paise: 50
'''
paise=100
rs=int(input("enter rupees"))
result= rs*paise
print(result,"paise")

enter rupees3
300 paise

In [29]:
'''#Q.9) Accept String & print only alternate
characters on a string.
Ex: this i s a _ test
'''
s=input()
var=s
for i in range(0,len(var),2):
  print(var[i],end="")

iamswap
imwp

In [33]:
'''Q.2) Write code to find the average of ‘n’
numbers entered by the user to function avg ( ).
Ex: avg (10, 20, 30, 40) => average is: 70
avg (5, 10, 15) => average is: 10'''
no=int(input("enter the numbers"))
sum=0
for i in range(no):
  a=int(input("enter number"))
  sum=sum+a
avg= sum/no
print("avarage",avg)

enter the numbers5
enter number1
enter number2
enter number3
enter number4
enter number5
avarage 3.0

In [48]:
#Q3
for i in range (1,6):
  for j in range (1,i+1):
    print(j%2,end=" ")
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [1]:
#8
rows = 6
for i in range(rows):
  for j in range(i):
    print(i, end=' ')
  print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5